# Example .env file

# Pterodactyl Panel URL
PTERODACTYL_URL=

# Pterodactyl API Key
PTERODACTYL_API_KEY=

# Port to run the application
PORT=

# Environment (development, production, etc.)
NODE_ENV=

# Frontend URL
FRONTEND_URL=